{% extends 'base.html' %}

{% block body %}

<div class="container" style="border: 3px solid red">
    <main class="container">
    <h2>Welcome, [User]!</h2>
    <article>
      <h3>Habits Completed Today</h3>
      <p>3 / 5</p>
    </article>
    <p><a href="/log_habit" role="button">Add New Habit</a></p>

    <article>
      <h3>Community Feed</h3>
      <p>💬 "Stay strong! You got this!"</p>
    </article>
    <article>
      <h3>Community Feed</h3>
      <p>💬 "Drink water, stay healthy."</p>
    </article>
  </main>
</div>

{% endblock %}