{% extends 'base.html' %}

{% block body %}

<div class="container" style="border: 3px solid red">
  <main class="container">
    <h2>My Progress</h2>
    {% for obj in progress %}
    <p>{{ obj.habit_name }}</p>
    <p>{{ obj.category }}</p>
    <p>{{ obj.frequency }}</p>
    <p>{{ obj.classification }}</p>
    {% endfor %}
    <!-- <p>{{ progress[1].habit_name }}</p> -->
    
    
    
    
    
    
    <section>
      <h3>Stats</h3>
      <ul>
        <li>✅ Streak: 7 days</li>
        <li>🔥 Total Habits Completed: 45</li>
        <li>📅 Upcoming: 2</li>
      </ul>
    </section>

    <section>
      <h3>Progress Graph (placeholder)</h3>
      <div style="height:150px; background:#ddd; text-align:center; padding-top:60px;">
        Graph here
      </div>
    </section>

    <section>
      <h3>Community Leaderboard</h3>
      <ol>
        <li>User123 50 streak</li>
        <li>Runner42 45 streak</li>
        <li>WaterDrinker 30 streak</li>
      </ol>
    </section>

    <section>
      <h3>Filter Controls</h3>
      <label for="date">Select Date</label>
      <input type="date" id="date" name="date">

      <label for="filter-category">Category</label>
      <select id="filter-category">
        <option>All</option>
        <option>Fitness</option>
        <option>Health</option>
      </select>
    </section>
  </main>
</div>

{% endblock %}